{% extends "base.html" %}
{% block content %}
{% load i18n %}
<main>
  <div class="container-md mt-3">
    <h1>{% translate "Users" %}</h1>
    <table class="table table-striped mt-2" data-test="checks">
        <thead>
            <tr>
              <th>ID</th>
              <th>{% translate "Username" %}</th>
              <th>{% translate "Full name" %}</th>
              <th>{% translate "Create date" %}</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'users:update' user.id %}">{% translate "Edit" %}</a><br>
                    <a href="{% url 'users:delete' user.id %}">{% translate "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
  </div>
</main>
{% endblock %}
