name: Python CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      DATABASE_URL: 'sqlite:///db.sqlite3'
      PYTHONPATH: ${{ github.workspace }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          pip install uv ruff
          make install

      - name: Create missing static directory
        run: mkdir -p static

      - name: Run linter
        run: |
          make lint

      - name: Run pytest
        run: |
          make test

      - name: Run pytest-cov
        run: |
          make test-cov

      - name: SonarQubeScan
        uses: sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        with:
          args: >
            -Dsonar.projectKey=varkvark_python-project-52
            -Dsonar.organization=varkvark
            -Dsonar.python.coverage.reportPaths=coverage.xml
